* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: white;
    display: flex;

    justify-content: space-evenly
}

div#canvascontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

div#panecontainer {
    padding: 10px;
}


canvas {
    box-shadow: 0px 2px 12px -2px rgb(0 0 0 / 100%);
}